{% extends "layout.html" %}
{% block title %}
    Account
{% endblock %}

{% block main %}
   <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <!--FORM HERE-->
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <div class="mb-3">
                    <legend>Account Info</legend>
                </div>
                <div class="mb-3">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control mx-auto w-auto is-invalid") }}
                            {% for error in form.username.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                            {% endfor %}
                    {% else %}
                        {{ form.username(class="form-control mx-auto w-auto") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control mx-auto w-auto is-invalid") }}
                            {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                            {% endfor %}
                    {% else %}
                        {{ form.email(class="form-control mx-auto w-auto") }}
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
    </div>


{% endblock %}