{% extends "layout.html" %}
{% block title %}
    Reset Request
{% endblock %}
{% block main %}
    <form method="POST" action="">
    {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control mx-auto w-auto is-invalid") }}
                    {% for error in form.email.errors %}
                    <div class="invalid-feedback">
                        <span>{{ error }}</span>
                    </div>
                    {% endfor %}
            {% else %}
                {{ form.email(class="form-control mx-auto w-auto") }}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}